### This notebook is for explosive analysis of features in data.

In [ ]:
"./DataPreprocess"

  

[TABLE]

  

[TABLE]

Truncated to 30 rows

Truncated to 12 cols

  

>     import org.apache.spark.sql.functions._
>     import org.apache.spark.sql.expressions.Window

  

>     df_filteredLocation: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [iso_code: string, continent: string ... 48 more fields]
>     df_fillContinentNull: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [iso_code: string, continent: string ... 48 more fields]
>     res17: df_filteredLocation.type = [iso_code: string, continent: string ... 48 more fields]

  

### Statistics of invariant features

>     df_filtered_date: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [iso_code: string, continent: string ... 48 more fields]
>     res19: df_fillContinentNull.type = [iso_code: string, continent: string ... 48 more fields]

  

[TABLE]

Truncated to 30 rows

Truncated to 12 cols

  

[TABLE]

Truncated to 30 rows

Truncated to 12 cols

In [ ]:
display(valid_distinct_features.describe())

  

[TABLE]

Truncated to 12 cols

In [ ]:
display(valid_distinct_features.select($"iso_code", $"population"))

  

[TABLE]

Truncated to 30 rows

  

>     df_cleaned_feature_permillion: org.apache.spark.sql.DataFrame = [iso_code: string, continent: string ... 48 more fields]

In [ ]:
display(valid_distinct_features.select($"iso_code", $"population_density"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"median_age"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"aged_65_older"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"aged_70_older"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"gdp_per_capita"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"cardiovasc_death_rate"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"diabetes_prevalence"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"female_smokers"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"male_smokers"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"hospital_beds_per_thousand"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"life_expectancy"))

  

[TABLE]

Truncated to 30 rows

In [ ]:
display(valid_distinct_features.select($"iso_code", $"human_development_index"))

  

[TABLE]

Truncated to 30 rows

  

### Correlation between invariant features

There are some pairs of features are highly correlated i.e. 1.
median*age, aged*65*older 2. median*age, human*development*index 3.
median*age, life*expectancy 4. gdp*per*capita, human*development*index
5. gdp*per*capita, life*expectancy 6. human*development*index,
life*expectancy

[TABLE]

Truncated to 30 rows

Truncated to 12 cols

In [ ]:
display(valid_distinct_features.drop("iso_code","location"))

  

[TABLE]

Truncated to 30 rows

Truncated to 12 cols

  

### Correlation between new case per million, total case, new death per million, total death per million, reproduction rate and stringency index.

In [ ]:
display(df_cleaned_time_series.drop("iso_code", "continent", "location",
                                    "date", "icu_patients", "icu_patients_per_million",
                                    "hosp_patients", "hosp_patients_per_million", "weekly_icu_admissions",
                                    "weekly_icu_admissions_per_million", "weekly_hosp_admissions", "weekly_hosp_admissions_per_million",
                                    "total_tests", "new_tests", "total_tests_per_thousand",
                                    "new_tests_per_thousand", "new_tests_smoothed", "new_tests_smoothed_per_thousand",
                                    "positive_rate", "tests_per_case", "tests_units",
                                    "extreme_poverty", "handwashing_facilities"))

  

[TABLE]

Truncated to 30 rows

Truncated to 12 cols